.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.films {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
}

#film_scroll {
    width: 95%;
}