header {
    z-index: 2;
    width: 100%;
    height: 70px;
    background-color: #2b2b31;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    box-shadow:0 0 10px 2px;
}

.logo_start {
    font-size: 25px;
    font-family: 'New amsterdam';
    color: #c5c5c5;
}

.logo_end {
    font-size: 25px;
    font-family: 'New amsterdam';
    color: #a328a3;
}

nav {
    font-size: 20px;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.search {
    width: 260px;
    background-color: #474747;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    width: 210px;
    height: 35px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: #474747;
    border-radius: 20px;
    color: #c5c5c5;
    padding-left: 10px;
}

input::placeholder {
    color: #c5c5c5;
}

.line {
    border-left: 2px solid grey;
    padding-left: 7px;
    padding-right: 5px;
}

a p:hover {
    color: #a328a3;
}

.line:hover {
    cursor: pointer;
}

.modal_side {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 25%;
}

.btn_modal {
    position: relative;
    margin: 13px;
    width: 40px;
    height: 50px;
}

.btn_modal:hover {
    cursor: pointer;
}

.modal_line {
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    top: 21px;
    background-color: black;
}
