.bg {
    z-index: -1;
    width: 100%;
    height: 600px;
    text-align: center;
}

.bg img {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 50px 20px;
}

.bg div {
    margin-top: 300px;
}

.bg h1 {
    font-size: 70px;
    display: inline;
    margin: 300px auto;
}


.line_film {
    background-color: #28282d;
    padding: 5px;
    margin-top: 50px;
}