.bg_dark {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 70px;
    left: 0;
    background-color: #0000008e;
    z-index: 10;
}

.side {
    width: 500px;
    height: 100vh;
    position: absolute;
    background-color: #535353;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.side a {
    font-size: 24px;
    padding: 20px;
    border-top: 1px solid white;
    width: 80%;
    text-align: center;
    transition: 0.3s;
}

.side a:hover {
    transform: translate(20px, 0);
}

