@font-face {
    font-family: "Lora";
    src: url('./assets/fonts/Lora/Lora-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'New amsterdam';
    src: url('./assets/fonts/New_Amsterdam/NewAmsterdam-Regular.ttf');
}